Middleware/MuleSoft/.mule/apps/productstore/productstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:listener-config name="HTTP_Listener_Configuration_Product" host="0.0.0.0" port="${http.portProduct}" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration_Auth" host="0.0.0.0" port="${http.portAuth}" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration_Customer" host="0.0.0.0" port="${http.portCustomer}" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration_User" host="0.0.0.0" port="${http.portUser}" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_ProductWebService" host="localhost" port="8797" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_CustomerWebService" host="localhost" port="8796" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_AuthWebService" host="localhost" port="8795" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_UserWebService" host="localhost" port="8798" doc:name="HTTP Request Configuration"/>
    <flow name="ProductFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_Product" path="/*" doc:name="Receive HTTP requests from apps"/>
        <flow-ref doc:name="copy-headers" name="copy-headers"/>
        <http:request config-ref="HTTP_Request_ProductWebService" path="#[message.inboundProperties['http.request.uri']]" method="#[message.inboundProperties['http.method']]" doc:name="Send requests to API"/>
        <flow-ref doc:name="copy-headers" name="copy-headers"/>
    </flow>
    <flow name="UserFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_User" path="/*" doc:name="Receive HTTP requests from apps"/>
        <flow-ref doc:name="copy-headers" name="copy-headers"/>
        <http:request config-ref="HTTP_Request_UserWebService" path="#[message.inboundProperties['http.request.uri']]" method="#[message.inboundProperties['http.method']]" doc:name="Send requests to API">
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        <flow-ref doc:name="copy-headers" name="copy-headers"/>
        
    </flow>
    <sub-flow  name="copy-headers">
        <copy-properties doc:name="Copy All HTTP Headers" propertyName="*"/>
        <remove-property doc:name="Remove Content Length" propertyName="Content-Length"/>
        <remove-property doc:name="Remove MULE Properties" propertyName="MULE_*"/>        
        <remove-property doc:name="Remove X_MULE Properties" propertyName="X_MULE*"/>
    </sub-flow>    
</mule>
